body {
  background-color: #212121;
}

.from {
  font-size: 6rem;
  color: red;
}

#lklk {
  view-transition-name: title;
}

::view-transition-group(*) {
    animation-duration: 3s;
}

@view-transition {
  navigation: auto;
}
